@model MVC.ViewModels.API1SecretViewModel

<a href="https://localhost:44345/" class="link-warning">/</a>
<br>
<a href="https://localhost:44345/home/token" class="link-warning">/home/Token</a>

@{ ViewData["Title"] = "";}

<br>

<h1> Request from MVC to API1 requesting secret message result: </h1>
@Model.SecretMessage

<br>
<br>

httpResponseMessage = @Model.httpResponseMessage

<hr>
<br>
<br>
<br>
<br>
<br>
<br>
httpResponseMessage = @Model.httpResponseMessage
<br>
<br>
httpResponseMessage.Content = @Model.httpResponseMessage.Content
<br>
<br>
httpResponseMessage.Headers = @Model.httpResponseMessage.Headers
<br>
<br>
httpResponseMessage.IsSuccessStatusCode = @Model.httpResponseMessage.IsSuccessStatusCode
<br>
<br>
httpResponseMessage.ReasonPhrase = @Model.httpResponseMessage.ReasonPhrase
<br>
<br>
httpResponseMessage.RequestMessage = @Model.httpResponseMessage.RequestMessage
<br>
<br>
httpResponseMessage.StatusCode = @Model.httpResponseMessage.StatusCode
<br>
<br>
httpResponseMessage.TrailingHeaders = @Model.httpResponseMessage.TrailingHeaders
<br>
<br>
httpResponseMessage.Version = @Model.httpResponseMessage.Version




